<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072841552568-bco682amdbi4ki74do0j6pd92lb8chi7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072841552568-bco682amdbi4ki74do0j6pd92lb8chi7</string>
	<key>API_KEY</key>
	<string>AIzaSyCAPztkHDg9WvpT4HP9O0oNO5QJZgvat30</string>
	<key>GCM_SENDER_ID</key>
	<string>1072841552568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arturbr.flashChatFlutter</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ca03e</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ca03e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072841552568:ios:b67bbce4fc7c926c44fa4d</string>
</dict>
</plist>